<h2>Welcome to the PAC I practice question website</h2>

<p>This simple website allows you to take a quiz with questions sourced from students in our class, as well as add more questions.</p>

<p>What would you like to do?</p>

<a href="/questions/">Take a practice quiz</a>
<br><br>
<a href="/questions/new">Add a new question</a>
